
.week-box {
  background-color: #0b3d73; /* Dark blue background */
  color: #c5d2bc; /* Light text color */
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;

}
.week-box h2 {color: white;
  margin: 0;
  font-size: 18px;
}

input{
  width: 90%;
}
.week-box .chapter-title {
  margin: 5px 0 10px;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  border: none;
  color: white;
  outline: none;

}


.topic-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  input[type="text"] {width: 95%; padding: 5px; margin: 4px 0px; background-color: transparent; border: none; color: white;}

  input[type="checkbox"] {
      width: 30px; height: 20px; cursor: pointer; 
  }
}